<h1><%= @task.name %></h1>
<p>form with adjustable settings and display graph</p>
<%= link_to 'Edit', edit_category_task_path(category_id = params[:category_id], id = params[:id]) %>
<%= link_to 'Delete this task', @categories, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to "Categories", categories_path %>
